<form method="POST" action="/showtimes">
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

	</style>
	<label for="movie">Search for showtimes for:</label>
	<input type="text" id="movie" name="movie" placeholder="Dune">
	<label for="Dolby">AMC Alist Only:</label>
	<input type="checkbox" name="alist"/>
	<label for="Dolby">Dolby Cinema:</label>
	<input type="checkbox" name="Dolby"/>
	<label for="Imax">IMAX:</label>
	<input type="checkbox" name="Imax"/>
	<input type="submit">
	<table>
	    <thead>
	    <tr>
	        <th>Movies showing in your area:</th>
	        <th>Local Showings Start:</th>
	        <th>Local Showings End:</th>
	        <th>Poster:</th>
	    </tr>
	    </thead>
	    <tbody>

			{% for row in moviesShowing %}
			    <tr>
		            <td>{{row[0][0]}}</td>
		            <td>{{row[0][1]}}</td>
		            <td>{{row[0][2]}}</td>
		            <td><img src={{row[0][3]}} width="50" height="100"></td>
		        </tr>
			{% endfor %}

		</tbody>
	</table>
</form>



	