<form method="POST" action="/showtimes">
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

	</style>
	<label for="movie">Search by movie:</label>
	<input type="text" id="movie" name="movie" placeholder="Dune">
	<label for="theater">Search by theater:</label>
	<input type="text" id="theater" name="theater" placeholder="Siff">	
	<label for="features">Search for showtime info:</label>
	<input type="text" id="features" name="features" placeholder="eg Recliners or Subtitled">
	<label for="Dolby">AMC Alist Only:</label>
	<input type="checkbox" name="alist"/>
	<label for="Dolby">Dolby Cinema:</label>
	<input type="checkbox" name="Dolby"/>
	<label for="Imax">IMAX:</label>
	<input type="checkbox" name="Imax"/>
	<input type="submit">
	<table>
	    <thead>
	    <tr>
	        <th>Movie</th>
	        <th>Theater</th>
	        <th>Time</th>
	        <th>Details</th>
	    </tr>
	    </thead>
	    <tbody>

			{% for row in showtimes %}
			    <tr>
		            <td>{{row[0]}}</td>
		            <td>{{row[1]}}</td>
		            <td>{{row[2]}}</td>
		            <td>{{row[3]}}</td>
		        </tr>
			{% endfor %}

		</tbody>
	</table>



</form>