<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

{% block content %}

<form method="POST" action="/showtimes">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">Theatrically</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" name="action" value="home" href="/">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" type="submit" name="action" value="showings" href="Showings">Showings</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Theaters</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	    <div class="row">
	    	<div class="col">
	 			<label for="movie">Search for showtimes for:</label>
				<input type="text" id="movie" name="movie" placeholder="Dune">
    		</div>
    		<div class="col">
				<label for="Dolby">AMC Only:</label>
				<input type="checkbox" name="alist"/>
    		</div>
		</div>

		<div class="row">
			<div class="col">
				<label for="theater">Search by theater:</label>
				<input type="text" id="theater" name="theater" placeholder="Siff">
    		</div>
    		<div class="col">
				<label for="Dolby">Dolby Cinema:</label>
				<input type="checkbox" name="Dolby"/>
    		</div>
		</div>

		<div class="row">
			<div class="col">
				<label for="features">Search for showtime info:</label>
				<input type="text" id="features" name="features" placeholder="eg Recliners or Subtitled">
    		</div>
    		<div class="col">
				<label for="Imax">IMAX:</label>
				<input type="checkbox" name="Imax"/>
    		</div>
		</div>
		

		<input class="btn btn-primary" type="submit" name="action" value="Find Movies">
	<table class="table table-hover">
	    <thead>
	    <tr>
	    	<th scope="col">Movie</th>
	    	<th scope="col">Theater</th>
	    	<th scope="col">Time</th>
	    	<th scope="col">Details</th>
	    </tr>
	    </thead>
	    <tbody>

			{% for row in showtimes %}
			    <tr>
		            <td>{{row[0]}}</td>
		            <td>{{row[1]}}</td>
		            <td>{{row[2]|format_Showtime}}</td>
		            <td>{{row[3]}}</td>
		        </tr>
			{% endfor %}

		</tbody>
	</table>
</form>
{% endblock %}
