{% extends "base.html" %}
{% block body %}
<form method="POST" action="/showtimes">
  <div class="row justify-content-center">
    <div class="col">              
      <label for="movie" class="form-group">Refine by title:</label>
      <input type="text" class="form-control" id="movie" name="movie" placeholder="Spider-Man">
    </div>
    <div class="col">
      <label for="theater" class="form-group">Refine by theater:</label>
      <input type="text" class="form-control" id="theater" name="theater" placeholder="Siff">
    </div>
    <div class="col">
      <label for="features" class="form-group">Refine by showtime info:</label>
      <input type="text" class="form-control" id="features" name="features" placeholder="eg Recliners or Subtitled">
    </div>
	</div>
	<div class="form-check form-switch form-check-inline">
	  <input class="form-check-input" type="checkbox" id="amc" name="amc">
	  <label class="form-check-label" for="amc">AMC Only</label>
	</div>
	<div class="form-check form-switch form-check-inline">
	  <input class="form-check-input" type="checkbox" id="Dolby" name="Dolby">
	  <label class="form-check-label" for="Dolby">Dolby Cinema</label>
	</div>
	<div class="form-check form-switch form-check-inline">
	  <input class="form-check-input" type="checkbox" id="IMAX" name="IMAX">
	  <label class="form-check-label" for="IMAX">IMAX</label>
	</div>

  <div class="d-flex justify-content-start">
  	<button type="submit" class="btn btn-primary mb-2">Find Showings</button>
  </div>   
</form>
		
<table class="table table-hover">
    <thead>
    <tr>
    	<th scope="col">Movie</th>
    	<th scope="col">Theater</th>
    	<th scope="col">Time</th>
    	<th scope="col">Details</th>
    	<th scope="col">Buy Tickets</th>
    </tr>
    </thead>
    <tbody>

		{% for row in showtimes %}
		    <tr>
	            <td><a href="/movie/{{row[6]}}">{{row[0]}}</a></td> 
	            <td>{{row[1]}}</td>
	            <td>{{row[2]|format_Showtime}}</td>
	            <td>{{row[3]}}</td>
	            {% if row[5] != ''%}
	            	<td><a href={{row[5]}}>Buy Tickets</a></td>
            	{% else %}
            		<td></td>
            	{% endif %}
	        </tr>
		{% endfor %}

	</tbody>
</table>
{% endblock %}
